.chartBody {
    position: relative;
    margin: 0 auto 5vh auto;
    width: 50vw;
    height: 50vh;
}

@media (max-width: 1024px) {
    .chartBody {
        width: 60vw;
    }
}
@media (max-width: 768px) {
    .chartBody {
        width: 70vw;
    }
}
@media (max-width: 460px) {
    .chartBody {
        margin: 10vw 0 10vw 0;
        width: 90vw;
        height: 380px;
    }
}