.header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: rgb(19,19,19);
    background: linear-gradient(180deg, rgba(19,19,19,1) 0%, rgba(19,19,19,0.9023984593837535) 86%, rgba(19,19,19,0.7539390756302521) 100%);

    display: flex;
    align-items: center;    /*Выравнивание по высоте*/
    margin: 0 auto;         /*Выравнивание по ширине*/
}


.menu {
    position: absolute;
    width: 38px;
    height: 38px;
    left: 10%;
}

.menu img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.menu button {
    position: absolute;
    cursor: pointer;
    border: 0;
    background: none;
    width: 100%;
    height: 100%;
}

.header p {
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Misto';
    font-style: normal;
    font-size: 80px;
}

.header .time {
    position: absolute;
    right: 10%;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    color: white;
}


@media (max-width: 1024px) {
    .header {
        height: 70px;
    }
    .menu {
        width: 25px;
        height: 25px;
    }
    .header p {
        font-size: 30px;
    }
    .header .time {
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .header {
        height: 70px;
    }
    .menu {
        width: 17px;
        height: 17px;
    }
    .header p {
        font-size: 20px;
    }
    .header .time {
        font-size: 15px;
    }
}
@media (max-width: 460px) {
    .header {
        height: 70px;
    }
    .menu {
        width: 15px;
        height: 15px;
    }
    .header p {
        font-size: 15px;
    }
    .header .time {
        font-size: 15px;
    }
}
