.header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: rgba(19,19,19, 0.4);
    backdrop-filter: blur(70px);

    display: flex;
    align-items: center;    /*Выравнивание по высоте*/
    margin: 0 auto;         /*Выравнивание по ширине*/
}


.menu {
    position: absolute;
    width: 38px;
    height: 38px;
    left: 10%;
}

.menu img{
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
}

.header p {
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Misto';
    font-style: normal;
    font-size: 80px;
}

.header .time {
    position: absolute;
    right: 10%;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    color: white;
}

.navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: -33%;
    width: 33%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(70px);
    transition: 200ms;
}

.navbar.active {
    left: 0;
    transition: 200ms;
}

.menuIcon {
    cursor: pointer;
    position: absolute;
    top: 10%;
    right: 15%;
    width: 7%;
    height: auto;
}

.links {
    position: relative;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 100%;
}

.navlink {
    display: flex;
    text-decoration: none;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 300;
    font-size: 2vw;
    line-height: 3vw;
    color: white;
    margin-top: 2.5vw;
}

.icon {
    position: absolute;
    bottom: 10%;
    right: 15%;
    width: 15%;
    height: auto;
}


@media (max-width: 1300px) {
    .header {
        height: 100px;
    }
    .menu {
        width: 25px;
        height: 25px;
    }
    .header p {
        font-size: 50px;
    }
    .header .time {
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .header {
        height: 70px;
    }
    .menu {
        width: 17px;
        height: 17px;
    }
    .header p {
        font-size: 25px;
    }
    .header .time {
        font-size: 15px;
    }
    .navbar {
        left: -100%;
        width: 100%;
    }
    .navlink {
        font-size: 8vw;
        line-height: 14vw;
        color: white;
        margin-top: 5vw;
    }
}
@media (max-width: 460px) {
    .header {
        height: 70px;
    }
    .menu {
        width: 15px;
        height: 15px;
    }
    .header p {
        font-size: 20px;
    }
    .header .time {
        font-size: 15px;
    }
}