.infoContent {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 1711px;
    background-color: #131313;
    border: 1px solid red;
}

@media (max-width: 1024px) {

}
@media (max-width: 768px) {

}
@media (max-width: 460px) {

}
