.wrapper {
    background-color: #131313;
    position: absolute;
    top: 100px;
    width: 100%;
    height: 1711px;
}

.infoContent {
    position: absolute;
    top: 100px;
    left: 10%;
    right: 10%;
    height: 1611px;
}

.systemStatus {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 240px;
}

.systemStatus h2 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    color: #FFFFFF;
}

.systemStatus h1 {
    position: absolute;
    top: 134px;
    left: 0;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
}

.power {
    position: absolute;
    top: 190px;
    left: 0;
    width: 576px;
    height: 47px;
    background: #E5E5E5;
    border-radius: 10px;
    overflow: hidden;
}

.powerValue {
    z-index: 1;
    position: absolute;
    top: 6px;
    right: 5px;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-align: center;

    color: #131313;
    opacity: 0.5;
}

.power .activePower {
    position: absolute;
    left: 0;
    height: 47px;
    background: #27AE60;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}

.status {
    color: white;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
}

.status img {
    margin-left: 10px;
}

.device {
    position: absolute;
    top: 0;
    left: 50%
}

.mqtt {
    position: absolute;
    top: 70px;
    left: 50%
}

.wifi {
    position: absolute;
    top: 140px;
    left: 50%
}

@media (max-width: 1024px) {

}
@media (max-width: 768px) {

}
@media (max-width: 460px) {

}
